.blocked-message .message-bubble {
	color: #fff !important;
	background-color: #fff !important;
}

.blocked-message .message-bubble:hover {
	color: #fff !important;
	background-color: #444444 !important;
}

.blocked-message .iris-icon-tail {
	display: none !important;
}

#selectOverlay {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  z-index: 2;
  top: 0px !important;
  left: 0px !important;
  background-color: #0000004d !important;
}

.unblocked-index {
  z-index: 4 !important;
}