.blocked-message .message-bubble {
	color: #fff !important;
	background-color: #fff !important;
}

.blocked-message .message-bubble:hover {
	color: #fff !important;
	background-color: #444444 !important;
}

.blocked-message .iris-icon-tail {
	display: none !important;
}

#selectOverlay {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  z-index: 2;
  top: 0px !important;
  left: 0px !important;
  background-color: #0000004d !important;
}

.unblocked-index {
  z-index: 4 !important;
  background-color: #f1f1f5 !important;
  width: 40% !important;
  padding-top: 3px !important;
  padding-bottom: 9px !important;
  padding-left: 11px !important;
  padding-right: 0px !important;
  margin-top: 6px !important;
  margin-left: 5px !important;
  border-radius: 15px !important;
}

.active-overlay > .unblocked-index:hover {
  padding-top: 1px !important;
  padding-bottom: 7px !important;
  background-color: #feffd1 !important;
  border: 2px solid #585858 !important;
}

.block-dropdown {
  position: absolute;
  height: 100px;
  width: 100%;
  display: block;
  top: 0px;
  z-index: 5;
  left: 0px;
  margin: 0 auto;
  text-align: center;
}

.block-dropdown span {
  position: relative;
  width: 50px;
}

.block-dropdown span span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #333333;
}

.block-dropdown span span::before {
  border-color: transparent transparent #333333;
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: #333333 transparent transparent transparent;
  transform: translateX(-100%);
}

.block-dropdown span span::after {
  border-color: transparent transparent #333333;
  content: '';
  position: absolute;
  display: block;
  right: -50px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #333333 transparent transparent transparent;
  transform: translateX(-100%);
}